# Loaded by /etc/systemd/system/vpn-watchdog.service.
# 0600 root:root.

WATCHDOG_PROVIDER=ntfy

NTFY_URL=https://ntfy.sh
NTFY_TOPIC=REPLACE_WITH_LONG_RANDOM_TOPIC



FAIL_THRESHOLD=3
STATE_FILE=/var/lib/vpn-watchdog/state
ALERTS_PER_HOUR_MAX=4

ENABLE_XRAY=true
ENABLE_NGINX_XHTTP=true
ENABLE_HYSTERIA=true
ENABLE_AMNEZIAWG=true

XRAY_PORT=443
NGINX_PORT=443
HYSTERIA_PORT=443
AWG_INTERFACE=awg0
