[Interface]
PrivateKey = {{ amneziawg_secrets.server_private_key }}
Address    = {{ amneziawg.address_v4 }}, {{ amneziawg.address_v6 }}
ListenPort = {{ amneziawg.listen_port }}

# AmneziaWG obfuscation parameters (mandatory; not standard WireGuard).
Jc = {{ amneziawg_secrets.jc | default(4) }}
Jmin = {{ amneziawg_secrets.jmin | default(40) }}
Jmax = {{ amneziawg_secrets.jmax | default(70) }}
S1 = {{ amneziawg_secrets.s1 | default(50) }}
S2 = {{ amneziawg_secrets.s2 | default(100) }}
H1 = {{ amneziawg_secrets.h1 }}
H2 = {{ amneziawg_secrets.h2 }}
H3 = {{ amneziawg_secrets.h3 }}
H4 = {{ amneziawg_secrets.h4 }}

# Outbound NAT for connected clients.
PostUp   = nft add rule inet nat postrouting iifname "%i" oifname != "%i" masquerade
PostDown = nft delete rule inet nat postrouting iifname "%i" oifname != "%i" masquerade

{% for peer in amneziawg_secrets.peers %}
[Peer]
# {{ peer.name }}
PublicKey  = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips | default("10.66.66." ~ (loop.index + 1) ~ "/32") }}
{% endfor %}
