[Unit]
Description=Xray Service
Documentation=https://xtls.github.io/
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
User={{ xray_runtime_user }}
Group={{ xray_runtime_group }}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

ExecStart=/usr/local/bin/xray run -config {{ xray_etc_dir }}/config.json
Restart=on-failure
RestartSec=5s

LimitNOFILE=1048576

PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
ReadWritePaths={{ xray_log_path }} /var/lib/xray {{ xray_etc_dir }}

[Install]
WantedBy=multi-user.target
