[defaults]
inventory = inventory/generated.ini
remote_user = deploy
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = yaml
bin_ansible_callbacks = True
roles_path = roles
collections_path = ../.ansible/collections
timeout = 30
forks = 5
gathering = smart

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15

[privilege_escalation]
become = True
become_method = sudo
become_user = root
