# Loaded by /etc/systemd/system/vpn-watchdog.service.
# 0600 root:root.

WATCHDOG_PROVIDER={{ watchdog.provider }}
{% if watchdog.provider == 'ntfy' %}
NTFY_URL={{ watchdog.ntfy_url | default('https://ntfy.sh') }}
NTFY_TOPIC={{ watchdog_secrets.ntfy_topic }}
{% if watchdog_secrets.ntfy_token | default('') %}
NTFY_TOKEN={{ watchdog_secrets.ntfy_token }}
{% endif %}
{% elif watchdog.provider == 'pushover' %}
PUSHOVER_TOKEN={{ watchdog_secrets.pushover_token }}
PUSHOVER_USER={{ watchdog_secrets.pushover_user }}
{% endif %}

FAIL_THRESHOLD={{ watchdog.fail_threshold }}
STATE_FILE={{ watchdog.state_file }}
ALERTS_PER_HOUR_MAX={{ watchdog.alerts_per_hour_max }}

ENABLE_XRAY={{ (vpn.enable_xray_reality | default(true)) | string | lower }}
ENABLE_NGINX_XHTTP={{ (vpn.enable_nginx_xhttp | default(true)) | string | lower }}
ENABLE_HYSTERIA={{ (vpn.enable_hysteria | default(false)) | string | lower }}
ENABLE_AMNEZIAWG={{ (vpn.enable_amneziawg | default(false)) | string | lower }}

XRAY_PORT={{ xray_port | default(443) }}
NGINX_PORT=443
HYSTERIA_PORT={{ hysteria_port | default(443) }}
AWG_INTERFACE={{ amneziawg.interface | default('awg0') }}
